@import url('../../../common/lib/form.css');
@import url('../../../common/lib/input.css');
@import url('../../../common/lib/button.css');
@import url('../../../common/lib/tip.css');
@import url('../../../common/lib/table.css');
@import url('../../../common/lib/inputNumber.css');
@import url('../../../common/lib/dialog.css');
@import url('../../../common/lib/suggestSelect.css');
@import url('../../../pages/modules/form.css');

.form-block-tip {
    margin-top: -20px;
    margin-bottom: 20px;
}

.combo-prod-add {
    margin-bottom: 10px;
}

.combo-prod-list {
    margin: 0 -20px -21px -20px;
}


.option-select-wrap {
    border: 1px solid #ced2d9;
    background-color: #f5f7fa;
    border-radius: 3px;
    display: inline-block;
    position: relative;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .option-select-btn {
        height: 28px;
        line-height: 28px;
        padding: 0 10px;
        float: left;
        cursor: pointer;
        color: #333;

        &:hover {
            background-color: #e6ecf2;
        }
    }

    .option-select-icon {
        height: 28px;
        line-height: 28px;
        padding: 0 5px;
        border-left: 1px solid #ced2d9;
        float: left;
        cursor: pointer;

        i {
            display: inline-block;
            transition: transform .2s ease;
        }

        &:hover {
            background-color: #e6ecf2;
        }
    }

    .option-select-list {
        position: absolute;
        background: #fff;
        padding: 5px 0;
        box-shadow: 2px 2px 3px rgba(0, 33, 66, 0.1);
        overflow: unset;
        z-index: 11;
        border: 1px solid #ced2d9;
        top: 29px;
        right: -1px;
        display: none;

        .option-select-item {
            padding: 5px 10px;
            color: #666;
            display: block;
            text-decoration: none;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                color: #666;
                background: #e6ecf2;
            }
        }
    }

    &.open {
        .option-select-list {
            display: block;
        }

        .option-select-icon {
            i {
                transform: rotate(180deg);
            }
        }
    }
}

.list-no-data {
    text-align: center;

    .icon-info1 {
        font-size: 24px;
        color: #1470CC;
        margin-right: 10px;
        vertical-align: -6px;
    }
}

.dlg-form-wrap {
    .select-suggest {
        .select-list {
            width: 360px;
            max-width: 360px;
        }
    }

    .form-fields-tip {
        padding-top: 5px;
        color: #999;
        clear: both;
    }
}

.vd-input-number-wrap {
    float: left;
}

.unit {
    display: inline-block;
    line-height: 30px;
    margin-left: 10px;
}

.status-red {
    color: #E64545;
}

.status-green {
    color: #13BF13;
}

.status-yellow {
    color: #FF9500;
}