@import url('../../../common/lib/button.css');
@import url('../../../common/lib/input.css');
@import url('../../../common/lib/pikaday.css');
@import url('../../../common/lib/form.css');
@import url('../../../common/lib/table.css');
@import url('../../../common/lib/select.css');
@import url('../../../common/lib/pager.css');
@import url('../../../common/lib/dialog.css');
@import url('../../../common/lib/tip.css');
@import url('../../../pages/modules/list.css');

.del-wrap {
    padding-left: 42px;
    position: relative;

    .del-tip {
        margin-bottom: 10px;
        padding-top: 7px;

        .icon-caution2 {
            color: #FF9500;
            font-size: 32px;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: -7px;
        }
    }

    .del-cnt {
        .input-textarea {
            width: 100%;
            height: 100px;
        }
    }
}

.logo-img {
    max-width: 140px;
    max-height: 70px;
}