<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vedeng.goods.dao.GoodsMapper" >
	<resultMap id="BaseResultMap" type="com.vedeng.order.model.SaleorderGoods" >
    <id column="SALEORDER_GOODS_ID" property="saleorderGoodsId" jdbcType="INTEGER" />
    <result column="SALEORDER_ID" property="saleorderId" jdbcType="INTEGER" />
    <result column="GOODS_ID" property="goodsId" jdbcType="INTEGER" />
    <result column="SKU" property="sku" jdbcType="VARCHAR" />
    <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR" />
    <result column="BRAND_NAME" property="brandName" jdbcType="VARCHAR" />
    <result column="MODEL" property="model" jdbcType="VARCHAR" />
    <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
    <!-- 单价 在耗材商城订单中为优惠后的实际单价  erp的单价 -->
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <!-- 实际单价, 耗材商城订单优惠前原来的单价 -->
    <result column="REAL_PRICE" property="realPrice" jdbcType="DECIMAL" />
    <result column="CURRENCY_UNIT_ID" property="currencyUnitId" jdbcType="INTEGER" />
    <result column="NUM" property="num" jdbcType="INTEGER" />
    <result column="BUY_NUM" property="dbBuyNum" jdbcType="INTEGER" />
    <result column="DELIVERY_NUM" property="deliveryNum" jdbcType="INTEGER" />
    <result column="DELIVERY_STATUS" property="deliveryStatus" jdbcType="BIT" />
    <result column="DELIVERY_TIME" property="deliveryTime" jdbcType="BIGINT" />
    <result column="IS_IGNORE" property="isIgnore" jdbcType="BIT" />
    <result column="IGNORE_TIME" property="ignoreTime" jdbcType="BIGINT" />
    <result column="IGNORE_USER_ID" property="ignoreUserId" jdbcType="INTEGER" />
    <result column="PURCHASING_PRICE" property="purchasingPrice" jdbcType="VARCHAR" />
    <result column="DELIVERY_CYCLE" property="deliveryCycle" jdbcType="VARCHAR" />
    <result column="DELIVERY_DIRECT" property="deliveryDirect" jdbcType="BIT" />
    <result column="DELIVERY_DIRECT_COMMENTS" property="deliveryDirectComments" jdbcType="VARCHAR" />
    <result column="REGISTRATION_NUMBER" property="registrationNumber" jdbcType="VARCHAR" />
    <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR" />
    <result column="REFERENCE_COST_PRICE" property="referenceCostPrice" jdbcType="DECIMAL" />
    <result column="REFERENCE_PRICE" property="referencePrice" jdbcType="DECIMAL" />
    <result column="REFERENCE_DELIVERY_CYCLE" property="referenceDeliveryCycle" jdbcType="VARCHAR" />
    <result column="REPORT_STATUS" property="reportStatus" jdbcType="BIT" />
    <result column="REPORT_COMMENTS" property="reportComments" jdbcType="VARCHAR" />
    <result column="HAVE_INSTALLATION" property="haveInstallation" jdbcType="BIT" />
    <result column="GOODS_COMMENTS" property="goodsComments" jdbcType="VARCHAR" />
    <result column="INSIDE_COMMENTS" property="insideComments" jdbcType="VARCHAR" />
    <result column="ARRIVAL_USER_ID" property="arrivalUserId" jdbcType="INTEGER" />
    <result column="ARRIVAL_STATUS" property="arrivalStatus" jdbcType="BIT" />
    <result column="ARRIVAL_TIME" property="arrivalTime" jdbcType="BIGINT" />
    <result column="IS_DELETE" property="isDelete" jdbcType="BIT" />
    <result column="ADD_TIME" property="addTime" jdbcType="BIGINT" />
    <result column="CREATOR" property="creator" jdbcType="INTEGER" />
    <result column="MOD_TIME" property="modTime" jdbcType="BIGINT" />
    <result column="UPDATER" property="updater" jdbcType="INTEGER" />
    <result column="LOCKED_STATUS" property="lockedStatus" jdbcType="INTEGER" />
    <!-- 当前sku最大退款金额即当前订单商品实际金额(含退货) -->
    <result column="MAX_SKU_REFUND_AMOUNT" property="maxSkuRefundAmount" jdbcType="DECIMAL" />
    <result column="JX_MARKET_PRICE" property="jxMarketPrice" jdbcType="DECIMAL" />
    <result column="JX_SALE_PRICE" property="jxSalePrice" jdbcType="DECIMAL" />
    
  </resultMap>

	<select id="getGoodsIdBySku" parameterType="java.lang.String"  resultType="Integer" >
	SELECT
	A.`GOODS_ID`
	FROM
	`T_GOODS` A
	WHERE A.`SKU` = #{skuNo};
	</select>
	
	<select id="getGoodsPriceList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	SELECT
	*
	FROM
	`T_SALEORDER_GOODS` A
	LEFT JOIN `V_CORE_SKU` B
	ON A.`SKU` = B.`SKU_NO`
	WHERE A.`SALEORDER_ID` = #{saleorderId}  AND A.IS_DELETE=0; 
  </select>
  <select id="getGoodsInfoById" resultMap="BaseResultMap">
  SELECT
	A.*
	FROM
	`T_GOODS` A
	WHERE A.`GOODS_ID` = #{goodsId}
  </select>
    <select id="getSkuByGoodsId" resultType="java.lang.String">
      SELECT SKU FROM T_GOODS WHERE GOODS_ID=#{goodsId}
    </select>


    <select id="getGoodsMedicalOffice" parameterType="java.util.List" resultType="java.lang.String">
        SELECT distinct h.DEPARTMENT_NAME FROM V_CORE_SKU sku LEFT JOIN V_CORE_SPU spu on sku.SPU_ID=spu.SPU_ID
        LEFT JOIN V_SPU_DEPARTMENT_MAPPING dm ON dm.SPU_ID=spu.SPU_ID
        LEFT JOIN T_DEPARTMENTS_HOSPITAL h on h.DEPARTMENT_ID=dm.DEPARTMENT_ID
        where sku.SKU_NO in
        <foreach collection="list" item="sku" close=")" open="(" separator=",">
            #{sku}
        </foreach>
        AND h.DEPARTMENT_NAME is not null
    </select>

    <select id="selectGoodsExtendInfo" parameterType="java.lang.String" resultType="com.vedeng.goods.model.Goods">
		SELECT A.GOODS_ID,
		       A.COMPANY_ID,
		       A.PARENT_ID,
		       A.CATEGORY_ID,
		       A.BRAND_ID,
		       A.IS_ON_SALE,
		       A.IS_DISCARD,
		       A.SKU,
		       A.GOODS_NAME,
		       A.ALIAS_NAME,
		       A.MODEL,
		       A.MATERIAL_CODE,
		       A.BASE_UNIT_ID,
		       A.CHANGE_NUM,
		       A.UNIT_ID,
		       A.GROSS_WEIGHT,
		       A.NET_WEIGHT,
		       A.GOODS_LENGTH,
		       A.GOODS_WIDTH,
		       A.GOODS_HEIGHT,
		       A.PACKAGE_LENGTH,
		       A.PACKAGE_WIDTH,
		       A.PACKAGE_HEIGHT,
		       A.GOODS_TYPE,
		       A.GOODS_LEVEL,
		       A.MANAGE_CATEGORY,
		       A.MANAGE_CATEGORY_LEVEL,
		       A.PURCHASE_REMIND,
		       A.LICENSE_NUMBER,
		       A.RECORD_NUMBER,
		       A.REGISTRATION_NUMBER,
		       A.BEGINTIME,
		       A.ENDTIME,
		       A.AUTHORIZATION_CERTIFICATE_URL,
		       A.OTHER_QUALIFICATION_URL,
		       A.COLOR_PAGE_URL,
		       A.TECHNICAL_PARAMETER_URL,
		       A.INSTRUCTIONS_URL,
		       A.BIDDING_DATA_URL,
		       A.PACKING_LIST,
		       A.TOS,
		       A.TECHNICAL_PARAMETER,
		       A.PERFORMANCE_PARAMETER,
		       A.SPEC_PARAMETER,
		       A.TAX_CATEGORY_NO,
		       A.MANUFACTURER,
		       A.PRODUCTION_LICENSE,
		       A.DISCARD_REASON,
		       A.DISCARD_TIME,
		       A.SUPPLY_MODEL,
		       A.STANDARD_CATEGORY_ID,
		       A.STANDARD_CATEGORY_LEVEL,
		       A.SPEC,
		       A.PRODUCT_ADDRESS,
		       A.STORAGE_REQUIREMENTS,
		       A.SOURCE,
		       A.IS_RECOMMED,
		       A.ADD_TIME,
		       A.CREATOR,
		       A.MOD_TIME,
		       A.UPDATER,
		       B.UNIT_NAME,
		       C.BRAND_NAME
		FROM T_GOODS A
		     LEFT JOIN T_UNIT B ON A.UNIT_ID = B.UNIT_ID
		     LEFT JOIN T_BRAND C ON A.BRAND_ID = C.BRAND_ID
		WHERE A.SKU = #{sku,jdbcType=VARCHAR}
	</select>


    <select id="getAssignManageUserByGoods" resultType="com.vedeng.authorization.model.User" parameterType="java.util.List">
        SELECT DISTINCT u.USER_ID,u.USERNAME from T_GOODS g1 LEFT JOIN V_CORE_SKU sku1 ON g1.SKU=sku1.SKU_NO
        LEFT JOIN V_CORE_SPU spu1 ON sku1.SPU_ID = spu1.SPU_ID
        LEFT JOIN T_USER u ON u.USER_ID=spu1.ASSIGNMENT_MANAGER_ID
        WHERE g1.GOODS_ID IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getAssignManageUserCountByGoods" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT COUNT(u.USER_ID) from T_GOODS g1 LEFT JOIN V_CORE_SKU sku1 ON g1.SKU=sku1.SKU_NO
        LEFT JOIN V_CORE_SPU spu1 ON sku1.SPU_ID = spu1.SPU_ID
        LEFT JOIN T_USER u ON u.USER_ID=spu1.ASSIGNMENT_MANAGER_ID
        WHERE g1.GOODS_ID = #{goodsId}
    </select>


    <select id="getAssignUserIdsByGoods" resultType="java.lang.Integer" parameterType="java.util.List">
        SELECT DISTINCT e.USER_ID FROM (
        SELECT spu1.ASSIGNMENT_MANAGER_ID as USER_ID from T_GOODS g1 LEFT JOIN V_CORE_SKU sku1 ON g1.SKU=sku1.SKU_NO
        LEFT JOIN V_CORE_SPU spu1 ON sku1.SPU_ID = spu1.SPU_ID
        WHERE g1.GOODS_ID IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        UNION
        SELECT spu2.ASSIGNMENT_ASSISTANT_ID as USER_ID from T_GOODS g2 LEFT JOIN V_CORE_SKU sku2 ON g2.SKU=sku2.SKU_NO
        LEFT JOIN V_CORE_SPU spu2 ON sku2.SPU_ID = spu2.SPU_ID
        WHERE g2.GOODS_ID IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        ) e
    </select>
    <select id="getGoodsSpuType" resultType="integer">
  SELECT
	C.SPU_TYPE
    FROM
	T_GOODS A
	LEFT JOIN V_CORE_SKU B ON A.SKU = B.SKU_NO
	LEFT JOIN V_CORE_SPU C ON B.SPU_ID = C.SPU_ID
    WHERE
	A.GOODS_ID = #{goodsId}
    </select>

    <select id="getGoodsInfoTips" resultType="map">
        select
            K.MATERIAL_CODE,
            ifnull(NUM.REGISTRATION_NUMBER,'') REGISTRATION_NUMBER,
            CASE NUM.MANAGE_CATEGORY_LEVEL
                WHEN 968 THEN '一类医疗器械'
                WHEN  969 THEN '二类医疗器械'
                WHEN  970 THEN '三类医疗器械'
            ELSE '' END AS MANAGE_CATEGORY_LEVEL,
            M.USERNAME,
            U.USERNAME AS 'ASSIS',
            ifnull(K.PACKING_LIST,'') PACKING_LIST ,
            CASE K.CHECK_STATUS
                WHEN 0 THEN '待完善'
                WHEN 1 THEN '审核中'
                WHEN 2 THEN '审核不通过'
                WHEN 3 THEN '审核通过'
            else '' end as CHECK_STATUS,
            K.SKU_NO ,
            K.SHOW_NAME,
            B.BRAND_NAME,
            ifnull(K.MODEL,'')  MODEL,
            UN.UNIT_NAME,ifnull(K.QA_YEARS,'') QA_YEARS,
            concat(CAT1.BASE_CATEGORY_NAME,'->',CAT2.BASE_CATEGORY_NAME,'->',CAT3.BASE_CATEGORY_NAME)
            BASE_CATEGORY_NAME,
            CAT3.BASE_CATEGORY_ID,
            CASE P.SPU_LEVEL
                WHEN 0 THEN '其他产品'
                WHEN 1 THEN '核心产品'
                WHEN 2 THEN '临时产品'
            ELSE '' END AS GOODS_LEVEL_NAME
        from V_CORE_SKU K LEFT JOIN V_CORE_SPU P ON K.SPU_ID=P.SPU_ID
        LEFT JOIN T_FIRST_ENGAGE F ON P.FIRST_ENGAGE_ID=F.FIRST_ENGAGE_ID
        LEFT JOIN T_REGISTRATION_NUMBER NUM ON NUM.REGISTRATION_NUMBER_ID=F.REGISTRATION_NUMBER_ID
        LEFT JOIN T_USER U ON U.USER_ID=P.ASSIGNMENT_ASSISTANT_ID
        LEFT JOIN T_USER M ON M.USER_ID=P.ASSIGNMENT_MANAGER_ID
		LEFT JOIN T_BRAND B ON B.BRAND_ID=P.BRAND_ID
		LEFT JOIN V_BASE_CATEGORY CAT3 ON CAT3.BASE_CATEGORY_ID=P.CATEGORY_ID
		LEFT JOIN V_BASE_CATEGORY CAT2 ON CAT2.BASE_CATEGORY_ID=CAT3.PARENT_ID
		LEFT JOIN V_BASE_CATEGORY CAT1 ON CAT1.BASE_CATEGORY_ID=CAT2.PARENT_ID
        left join T_UNIT UN ON UN.UNIT_ID=K.BASE_UNIT_ID
        where K.SKU_ID=#{sku}
    </select>

    <select id="skuTipList" parameterType="list" resultType="map">
        select
        K.MATERIAL_CODE,
        ifnull(NUM.REGISTRATION_NUMBER,'') REGISTRATION_NUMBER,
        CASE NUM.MANAGE_CATEGORY_LEVEL
            WHEN 968 THEN '一类医疗器械'
            WHEN  969 THEN '二类医疗器械'
            WHEN  970 THEN '三类医疗器械'
        ELSE '' END AS MANAGE_CATEGORY_LEVEL,
        M.USERNAME,
        U.USERNAME AS 'ASSIS',
        ifnull(K.PACKING_LIST,'') PACKING_LIST ,
        CASE K.CHECK_STATUS
            WHEN 0 THEN '待完善'
            WHEN 1 THEN '审核中'
            WHEN 2 THEN '审核不通过'
            WHEN 3 THEN '审核通过'
        else '' end as CHECK_STATUS,
        K.SKU_ID,
        K.SKU_NO,
        K.SHOW_NAME,
        K.SPEC,
        B.BRAND_NAME,
        ifnull(K.MODEL,'')  MODEL,
        UN.UNIT_NAME,
        CASE QA_YEARS
          WHEN NULL THEN ''
          WHEN '' THEN ''
        else CONCAT(QA_YEARS,"年") end as QA_YEARS,
        CASE P.SPU_LEVEL
            WHEN 0 THEN '其他产品'
            WHEN 1 THEN '核心产品'
            WHEN 2 THEN '临时产品'
        ELSE '' END AS GOODS_LEVEL_NAME
        from V_CORE_SKU K LEFT JOIN V_CORE_SPU P
        ON K.SPU_ID=P.SPU_ID
        LEFT JOIN T_FIRST_ENGAGE F ON P.FIRST_ENGAGE_ID=F.FIRST_ENGAGE_ID
        LEFT JOIN T_REGISTRATION_NUMBER NUM ON NUM.REGISTRATION_NUMBER_ID=F.REGISTRATION_NUMBER_ID
        LEFT JOIN T_USER U ON U.USER_ID=P.ASSIGNMENT_ASSISTANT_ID
        LEFT JOIN T_USER M ON M.USER_ID=P.ASSIGNMENT_MANAGER_ID
        LEFT JOIN T_BRAND B ON B.BRAND_ID=P.BRAND_ID
        left join T_UNIT UN ON UN.UNIT_ID=K.BASE_UNIT_ID
        where K.SKU_ID in
        <foreach collection="list" item="skuId" index="index"
                 open="(" close=")" separator=",">
            #{skuId}
        </foreach>
    </select>

    <select id="findSpuNamesBySpuIds" parameterType="list" resultType="com.vedeng.goods.model.CoreSpuGenerate">
        select
        SKU_ID AS SPU_ID,SKU_NAME AS SPU_NAME
        from V_CORE_SKU K
        where K.SKU_ID in
        <foreach collection="list" item="spuId" index="index"
                 open="(" close=")" separator=",">
            #{spuId}
        </foreach>
    </select>



    <select id="getBuyPricesDerictOrderDetailId" resultType="com.vedeng.logistics.model.vo.WarehouseGoodsOperateLogVo">
    select B.PRICE AS price,D.BUYORDER_ID  as buyorderId,D.BUYORDER_NO AS buyorderNo,C.NUM num  from T_BUYORDER_GOODS B
    LEFT JOIN T_R_BUYORDER_J_SALEORDER C ON C.BUYORDER_GOODS_ID = B.BUYORDER_GOODS_ID
    left join T_BUYORDER D ON B.BUYORDER_ID=D.BUYORDER_ID
    where
    C.SALEORDER_GOODS_ID =#{orderDetailId} AND D.STATUS IN(1,2) AND B.IS_DELETE=0
 </select>
    <select id="getBuyPricesNoDirectDetailId" resultType="com.vedeng.logistics.model.vo.WarehouseGoodsOperateLogVo">
    SELECT
	B.PRICE AS price ,D.BUYORDER_ID as buyorderId,D.BUYORDER_NO AS buyorderNo,A.NUM num
FROM
	T_WAREHOUSE_GOODS_OPERATE_LOG A
	LEFT JOIN T_BUYORDER_GOODS B ON A.RELATED_ID = B.BUYORDER_GOODS_ID
	LEFT JOIN T_R_BUYORDER_J_SALEORDER C ON C.BUYORDER_GOODS_ID = B.BUYORDER_GOODS_ID
	left join T_BUYORDER D ON B.BUYORDER_ID=D.BUYORDER_ID
WHERE
A.OPERATE_TYPE  IN(1,3,5,8,9)
	AND A.BARCODE_ID !=0
	AND A.IS_ENABLE=1
	AND C.SALEORDER_GOODS_ID =#{orderDetailId} AND D.STATUS IN(1,2) AND B.IS_DELETE=0

 </select>
    <select id="getBuyPricesOrderId" resultType="com.vedeng.logistics.model.vo.WarehouseGoodsOperateLogVo">
    SELECT
        B.PRICE AS price ,B.BUYORDER_ID as buyorderId
    ,C.BUYORDER_NO AS buyorderNo,RELATED_ID relatedId,A.NUM num
FROM
	T_WAREHOUSE_GOODS_OPERATE_LOG A left join T_BUYORDER_GOODS B ON A.RELATED_ID=B.BUYORDER_GOODS_ID
        left join T_BUYORDER C ON C.BUYORDER_ID=B.BUYORDER_ID
    WHERE
        A.OPERATE_TYPE =1
        AND IS_ENABLE = 1
        AND C.STATUS IN(1,2)
        AND B.IS_DELETE=0
        AND A.BARCODE_ID IN (
            SELECT
            A.BARCODE_ID
            FROM
            T_WAREHOUSE_GOODS_OPERATE_LOG A
            LEFT JOIN T_SALEORDER_GOODS B ON A.RELATED_ID = B.SALEORDER_GOODS_ID
            WHERE
            A.OPERATE_TYPE IN ( 2 )
            AND A.BARCODE_ID != 0
            AND A.IS_ENABLE = 1
            AND B.IS_DELETE= 0
            AND B.SALEORDER_GOODS_ID = #{orderDetailId}
        )
    </select>
    <select id="getOrderDetailIdsByRelatedIds" resultType="integer">
    select ORDER_DETAIL_ID from T_AFTER_SALES_GOODS A
	WHERE AFTER_SALES_GOODS_ID IN
        <foreach collection="relatedIds" item="creatorId" index="index"
                 open="(" close=")" separator=",">
            #{creatorId}
        </foreach>
    </select>
    <select id="getAfterSaleOrderDetailId" resultType="integer">
    SELECT
     DISTINCT B.ORDER_DETAIL_ID AS detailGoodsId
    FROM
    T_WAREHOUSE_GOODS_OPERATE_LOG A left join T_AFTER_SALES_GOODS B ON A.RELATED_ID=B.AFTER_SALES_GOODS_ID
    WHERE
    A.OPERATE_TYPE IN (5 )
    AND IS_ENABLE = 1
    AND A.BARCODE_ID IN (
    SELECT
    A.BARCODE_ID
    FROM
    T_WAREHOUSE_GOODS_OPERATE_LOG A
    LEFT JOIN T_SALEORDER_GOODS B ON A.RELATED_ID = B.SALEORDER_GOODS_ID
    WHERE
    A.OPERATE_TYPE IN ( 2,4,6,7,10 )
    AND A.BARCODE_ID != 0
    AND A.IS_ENABLE = 1
    AND B.IS_DELETE=0
    AND A.RELATED_ID IN (  #{orderDetailId}  )
    )
</select>

    <select id="getBuyPriceByBuyorderAftersale" resultType="com.vedeng.logistics.model.vo.WarehouseGoodsOperateLogVo">
    SELECT
       C.PRICE AS price ,C.BUYORDER_ID as buyorderId
    ,D.BUYORDER_NO AS buyorderNo,A.NUM as num
    FROM
    T_WAREHOUSE_GOODS_OPERATE_LOG A left join T_AFTER_SALES_GOODS B ON A.RELATED_ID=B.AFTER_SALES_GOODS_ID
    left join T_BUYORDER_GOODS C ON C.BUYORDER_GOODS_ID=B.ORDER_DETAIL_ID
      left join T_BUYORDER D ON C.BUYORDER_ID=D.BUYORDER_ID
    WHERE
    A.OPERATE_TYPE IN (6,8 )
    AND IS_ENABLE = 1
    and C.IS_DELETE=0
    AND D.STATUS IN(1,2)
    AND A.BARCODE_ID IN (
    SELECT
    A.BARCODE_ID
    FROM
    T_WAREHOUSE_GOODS_OPERATE_LOG A
    LEFT JOIN T_SALEORDER_GOODS B ON A.RELATED_ID = B.SALEORDER_GOODS_ID
    WHERE
    A.OPERATE_TYPE IN ( 2,4,6,7,10 )
    AND A.BARCODE_ID != 0
    AND A.IS_ENABLE = 1
    AND B.IS_DELETE=0
    AND B.ORDER_DETAIL_ID IN (  #{orderDetailId}  )
    )
</select>


</mapper>