.form-wrap {
    padding: 20px;
    max-width: 1280px;
    min-width: 940px;
    margin: 0 auto;
    padding-bottom: 70px;
    position: relative;
}

.form-container {
    .form-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .form-block {
        background: #fff;
        padding: 20px;
        border: 1px solid #EDF0F2;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .form-block-title {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .form-block-title-tip {
        color: #999;
        font-size: 12px;
        font-weight: normal;
        margin-left: 20px;
    }

    .form-fields-tip {
        padding-top: 5px;
        color: #999;
        clear: both;

        &+.feedback-block {
            .error {
                margin-top: 10px;
            }

            &+.feedback-block .error {
                margin-top: 10px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.form-btn {
    padding-left: 20px;

    .btn {
        margin-right: 7px;
    }
}